script(type="text/javascript").
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65610184-1', 'auto');
  ga('send', 'pageview');
script(type="text/javascript").
  (function() {
  var hm = document.createElement('script'); hm.type ='text/javascript'; hm.async = true;
  hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g,'/').replace(/-/g,'.');
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hm, s);
  })();