if attachment.contentType.indexOf("image/") === 0
  a(href=attachment.url, class="image-popup")
    img(src=attachment.url)
else
  a(href=attachment.url)
    if attachment.contentType.indexOf("text/") === 0
      img.pixels(src="/images/fileTypes/text.png")
      span= attachment.fileName
    else
      img.pixels(src="/images/fileTypes/default.png")
      span= attachment.fileName