article.post.panel(id='post_' + post.id)
  .corners
    h2
      a(href='/blog/' + post.slug)= post.title
    p.content.excerpt!= post.text
    p.post-meta
      span.icon.date
      abbr.timeago(title=post.date)= post.date