link(href='//nicool.rocks/stuff/tickets/tickets.css', rel='stylesheet')
script(src="//code.jquery.com/jquery-latest.min.js")
script(type="text/javascript", src="//nicool.rocks/stuff/tickets/tickets.js")
center(style="margin-bottom:2rem")
  div#tickets