section#area-knowledgebase
  .row.shader-radial-blur
    .corners
      h2= __("Skills")
      .small-12.columns
        p= __("KNOWLEDGEBASE_DESCRIPTION")
        ul.small-block-grid-3.medium-block-grid-5.large-block-grid-8
          each link, icon in {'php':'//php.net/', 'html':'//www.w3.org/html/', 'nette':'//nette.org/', 'sass':'//sass-lang.com/', 'css':'//www.w3.org/Style/CSS/', 'jquery':'//jquery.com/', 'foundation':'//foundation.zurb.com/', 'js':'//developer.mozilla.org/en-US/docs/Web/JavaScript/About_JavaScript', 'java':'//java.com/', 'nodejs':'//nodejs.org/', 'unity':'//unity3d.com/', 'bukkit':'//bukkit.org/', 'lua':'//lua.org/', 'git':'//git-scm.com/', 'more':'/portfolio'}
            li
              a(href=link, title=icon, target="_blank", class="know-how " + icon)= icon
      .clearfix