#messageBoard
  .login
    .row
      .small-12.column
        h2= __("Online chat")
        label= __("Choose username:")
    form(action="")
      .row
        .small-9.columns
          input#messageBoardName(type="text")
        .small-3.columns
          input.button.tiny.expand(type="submit", value=__("Connect"))
  .chat
    ul
    form(action="")
      .input-container
        input#messageBoardInput(autocomplete="off", type="text")
      input.button(type="submit", value=__("Send"))