extends includes/page.jade

block breadcrumbs
  li
    a(href='/#m')= __(siteTitle)
  li
    a(href='/blog#m')= __(title)

block pageContent
  #blog
    .row
      .right
        h1= __(siteTitle) + ' : ' + __("Blog")
      .small-12.large-8.columns
        .blog.jscroll
          each post in posts
            include includes/blogPostExcerpt.jade
          if posts.length > 0
            a.pagination.button.small.expand(href="/blog/" + (page+1))= __("Older posts")
      .small-12.large-4.columns
        .row
          #blog-meta.panel.corners
            .small-12.medium-6.large-12.columns
              .blog-profile
                img.enlarge(src="/images/blogProfile.png")
            .small-12.medium-6.large-12.columns
              p !{__("ABOUT_ME")}
              .text-center
                a.button(href='/about')= __("About")
            .clearfix