<?xml version="1.0" encoding="UTF-8"?>
feed(xmlns='http://www.w3.org/2005/Atom')
  title= "Blog - " + __(siteTitle)
  link(href="/blog/feed", rel="self", type="application/atom+xml")
  link(href="/blog", rel="alternate", type="text/html")
  author
    name= __(siteTitle)
    email= siteEmail
  each post in posts
    entry
      title= post.title
      id= "/blog/" + post.slug
      updated= post.date
      link(href="/blog/" + post.slug, rel="alternate", type="text/html")
      content= post.text