extends includes/page.jade

block breadcrumbs
  li
    a(href='/#m')= __(siteTitle)

block pageContent
  #title-screen
    .row.white-triange-bottom-border
      .corners
        h1
          span= __(siteTitle)
        include includes/titleScreenMeta.jade
  
  #panorama
    .panorama-content
      h2= __("Portfolio")
      p= __("DESCRIPTION_PORTFOLIO_SHORT")
    a(href="/portfolio")
      p
        = __("DESCRIPTION_PORTFOLIO_MAIN")
        span.line
          span.button= __("Enter portfolio")
    
  include includes/knowledgebase.jade
  #fnav
    .row.text-center
      a.button.large(href="/blog")= __("Visit blog")
      a.button.large(href="/portfolio")= __("Enter portfolio")