extends includes/layout.jade

block content
  noscript
    h1 404*
    h3 PHP NOT DOUND
    pre (only Node.js around here)
    img(src="/images/error.png", style="position: fixed; bottom: 0; right: 32px; max-height: 100%")
  pre#console

block scripts
  script(src='/javascripts/jquery.min.js')
  script.
    var console = $("#console");
    var consoleWrite = function(text) {
      console.append(document.createTextNode(text));
    }
    consoleWrite("Searching for PHP with 32 bytes of data:\n")
    var i = 1;
    setInterval(function(){
      if(i % 10 != 0) {
        consoleWrite("Request timed out.\n");
      } else {
        consoleWrite("PHP NOT FOUND (only Node.js around here)\n");
        consoleWrite("\n");
        consoleWrite("Searching for PHP with 32 bytes of data:\n")
      }
      i++;
    }, 1000);
  