each block in projects
  div(class="block g" + block.length + " s" + (1 + Math.round(random())))
    each project in block
      include includes/portfolioPost.jade

if projects.length > 0
  if portfolioCategory
    a.pagination.button.small.expand(href="/portfolio/" + portfolioCategory + "/" + (page+1))= __("Older projects")
  else
    a.pagination.button.small.expand(href="/portfolio/" + (page+1))= __("Older projects")