<?xml version="1.0" encoding="UTF-8"?>
feed(xmlns='http://www.w3.org/2005/Atom')
  title= "Portfolio - " + __(siteTitle)
  link(href="/portfolio/feed", rel="self", type="application/atom+xml")
  link(href="/portfolio", rel="alternate", type="text/html")
  author
    name= __(siteTitle)
    email= siteEmail
  each project in projects
    entry
      title= project.title
      id= "/project/" + project.slug
      updated= project.startedAt
      link(href="/project/" + project.slug, rel="alternate", type="text/html")
      content
        img(alt=project.title, src=project.image)
        | project.description