extends includes/page.jade

block breadcrumbs
  li
    a(href='/#m')= __(siteTitle)
  li
    a(href='/portfolio#m')= __(title)
  if portfolioCategory
    li
      a(href='/portfolio/' + portfolioCategory  + '#m')= __(portfolioCategory)

block pageContent
  #portfolio-description
    h1= __(siteTitle) + ' : ' + __("Portfolio")
    p.portfolio-content= __(portfolioContent)
  ul.portfolio.jscroll
    each block in projects
      div(class="block g" + block.length + " s" + (1 + Math.round(random())))
        each project in block
          include includes/portfolioPost.jade
  
    if projects.length > 0
      if portfolioCategory
        a(class="pagination", href="/portfolio/" + portfolioCategory + "/" + (page+1))= __("Older projects")
      else
        a(class="pagination", href="/portfolio/" + (page+1))= __("Older projects")