extends includes/page.jade

block breadcrumbs
  li
    a(href='/#m')= __(siteTitle)
  li
    a(href='/blog#m')= __(title)
  li
    a(href='/blog/' + post.slug + '#m')= post.title

block pageContent
  article.single.post
    .row.content.white-triange-bottom-border
      .corners
        h1= post.title
        p!= post.text
        p.project-meta.text-center= post.date
        p.text-center
          a.button(href="/blog")= __('More posts')
    
    if post.attachments
      .attachments-container
        div
          ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4.attachments
            each attachment in post.attachments
              li
                include includes/attachment.jade