extends includes/page.jade

block breadcrumbs
  li
    a(href='/#m')= __(siteTitle)
  li
    a(href='/portfolio#m')= __(title)
  li
    a(href='/portfolio/' + project.slug + '#m')= project.title

block pageContent
  article.single.project
    .image
      .img-container(style="background-image: url(" + project.image.url + ")")
      .row
        .to-bottom
          .corners
            h1= project.title
    
    .row.content.white-triange-bottom-border
      .corners
        p!= project.text
        p.project-meta.text-center= (project.startedAt || '?') + __(" to ") + (project.finishedAt || '?')
    
    if project.attachments
      .attachments-container
        div
          ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4.attachments
            each attachment in project.attachments
              li
                include includes/attachment.jade