| <?xml version="1.0" encoding="UTF-8"?>
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  each url in staticUrls
    url
      loc= siteUrl+url
      changefreq monthly
      priority 1.0
  each url in urls
    url
      loc= siteUrl+url
      changefreq monthly
      priority 0.7