/* Global config */

@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/functions";
@import "site/trigonometry";

@import "site/structure";
@import "site/metro_navigation";
@import "site/portfolio";
// @import "site/lightbox";
@import "site/blog";
@import "site/corners";
@import "site/loading";
@import "site/message_board";

a[href^="#error:"] {
    background: red;
    color: white;
}

html.js .jshidden {
    display: none;
}
